@import "vars";
@import "mixins";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Playfair+Display&display=swap');

::selection {
	background-color: #c5a23b;
	color: #fff;
}

html,
body {
	position: relative;
	height: 100%;
}

.site-wrapper {
	width: 100%;
	height: 100%;
}

.swiper-wrapper{
	will-change: transform;
	// transition: all 1s cubic-bezier(.73,.07,.09,.92);
}

body {
	background-color: #f8f8f8;
	line-height: 1.4;
	font-family: 'PT Sans', sans-serif;
	@include interpolate(font-size, 1170px, 1920px, 16px, 18px);
}

h1,
h2,
h3 {
	color: #151554;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	line-height: 1;
}

h4{
	color: #C5A23B;
	font-weight: bold;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: all 0.25s ease;
}

img{
	display: block;
	margin: 0;
	max-width: 100%;
}

section {
	overflow-y: auto !important;
	h2{
		@include interpolate(font-size, 1024px, 1920px, 90px, 150px);
	}
}

.screen-block {
	min-height: 700px;
	height: 100%;
	// height: inherit;
	@include interpolate(padding-right, 1024px, 1170px, 80px, 100px);
	// overflow: hidden;
	position: relative;
}

.blue-gradient {
	background: linear-gradient(150deg, #282895 5.34%, #181869 114.76%);
}

.star{
	position: absolute;
}

.btn{
	display: inline-block;
	width: fit-content;
	font-weight: bold;
	@include interpolate((padding-top, padding-bottom), 1024px, 1170px, 23px, 26px);
	@include interpolate((padding-left, padding-right), 1024px, 1170px, 53px, 59px);
	@include interpolate(font-size, 1024px, 1170px, 14px, 16px);
	background-color: #C5A23B;
	color: #fff;
	border-radius: 117px;
	transition: all .25s ease;
	cursor: pointer;
	&:hover{
		background-color: lighten(#C5A23B, 5%);
	}
}
