@media screen and (max-width: 586px) {
	.for-whom{
		padding: 50px 10px;
		gap: 30px;
		&-content{
			flex-direction: column;
		}
		&-item{
			width: 100%;
		}
	}
	.learn-what-wrapper{
		padding: 0 10px;
	}
	.learn-what h2{
		margin-bottom: 20px;
	}
	.learn-what-item{
		flex-direction: column;
	}
	.learn-what-item-col{
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.learn-what-item-title{
		font-size: 20px;
		margin-bottom: 20px;
		br{
			display: none;
		}
	}
}