@import '../mixins';

.for-whom{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	@include interpolate((padding-top, padding-bottom), 992px, 1920px, 68px, 131px);
	color: #fff;
	z-index: 1;
	&::before{
		content: '';
		position: absolute;
		inset: 0;
		background-image: url(../images/for-whom/bg.png);
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
	h2{
		color: #E0E0FF;
		@include interpolate(font-size, 992px, 1170px,  84.79px, 100px);
		@include interpolate(font-size, 1171px, 1920px,  100px, 120px);	
	}
	&-content{
		display: flex;
		justify-content: center;
		@include interpolate(gap, 992px, 1920px, 51px, 98px);
	}
	&-item{
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		text-align: center;
		width: fit-content;
		.counter{
			font-weight: bold;
			@include interpolate(width, 992px, 1920px, 36px, 71px);
			@include interpolate(height, 992px, 1920px, 36px, 71px);
			border-radius: 50%;
			background-color: #C5A23B;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}