@import '../mixins';

.for-whom{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	@include interpolate((padding-top, padding-bottom), 992px, 1920px, 68px, 110px);
	color: #fff;
	z-index: 1;
	&::before{
		content: '';
		position: absolute;
		inset: 0;
		background-image: url(../images/for-whom/bg.png);
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
	h2{
		color: #E0E0FF;
		@include interpolate(width, 992px, 1920px, 667px, 1095px);
	}
	&-content{
		display: flex;
		justify-content: center;
		@include interpolate(gap, 992px, 1920px, 51px, 98px);
	}
	&-item{
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		text-align: center;
		width: fit-content;
		.counter{
			font-weight: bold;
			@include interpolate(width, 992px, 1920px, 36px, 71px);
			@include interpolate(height, 992px, 1920px, 36px, 71px);
			@include interpolate(font-size, 992px, 1920px,  14px, 26px);	
			border-radius: 50%;
			background-color: #C5A23B;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.star-1{
		@include interpolate(width, 992px, 1920px, 22px, 43px);
		@include interpolate(bottom, 992px, 1920px, 113px, 218px);
		@include interpolate(left, 992px, 1920px, 53px, 102px);
		transform: rotate(25deg);
	}
	.star-2{
		@include interpolate(width, 992px, 1920px, 49px, 95px);
		@include interpolate(top, 992px, 1920px, 174px, 336px);
		@include interpolate(right, 992px, 1920px, 134px, 259px);
		transform: rotate(-15deg);
	}
}