.course-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.course-registration {
  padding-top: 34px;
  padding-bottom: 34px;
}
@media screen and (min-width: 992px) {
  .course-registration {
    padding-top: calc(0.0560328726vw + 33.4441539036px);
    padding-bottom: calc(0.0560328726vw + 33.4441539036px);
  }
}
@media screen and (min-width: 11700px) {
  .course-registration {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.course-registration {
  gap: 42px;
}
@media screen and (min-width: 992px) {
  .course-registration {
    gap: calc(4.3103448276vw - 0.7586206897px);
  }
}
@media screen and (min-width: 1920px) {
  .course-registration {
    gap: 82px;
  }
}
.course-registration h2 {
  position: relative;
}
.course-registration .free-badge {
  background-color: #C5A23B;
  color: #FFF2CA;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1;
  bottom: 90%;
}
.course-registration .free-badge {
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .course-registration .free-badge {
    font-size: calc(1.6163793103vw - 1.0344827586px);
  }
}
@media screen and (min-width: 1920px) {
  .course-registration .free-badge {
    font-size: 30px;
  }
}
.course-registration .free-badge {
  padding-top: 9px;
  padding-bottom: 9px;
}
@media screen and (min-width: 992px) {
  .course-registration .free-badge {
    padding-top: calc(0.9698275862vw - 0.6206896552px);
    padding-bottom: calc(0.9698275862vw - 0.6206896552px);
  }
}
@media screen and (min-width: 1920px) {
  .course-registration .free-badge {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
.course-registration .free-badge {
  padding-left: 17px;
  padding-right: 17px;
}
@media screen and (min-width: 992px) {
  .course-registration .free-badge {
    padding-left: calc(1.9396551724vw - 2.2413793103px);
    padding-right: calc(1.9396551724vw - 2.2413793103px);
  }
}
@media screen and (min-width: 1920px) {
  .course-registration .free-badge {
    padding-left: 35px;
    padding-right: 35px;
  }
}
.course-registration .free-badge {
  border-radius: 42px;
}
@media screen and (min-width: 992px) {
  .course-registration .free-badge {
    border-radius: calc(4.3103448276vw - 0.7586206897px);
  }
}
@media screen and (min-width: 1920px) {
  .course-registration .free-badge {
    border-radius: 82px;
  }
}
.course-registration-form {
  margin: 0 10px;
  max-width: 910px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.course-registration-form {
  gap: 8px;
}
@media screen and (min-width: 992px) {
  .course-registration-form {
    gap: calc(1.1235955056vw - 3.1460674157px);
  }
}
@media screen and (min-width: 1170px) {
  .course-registration-form {
    gap: 10px;
  }
}
.course-registration-form input, .course-registration-form .btn {
  width: 100%;
}
.course-registration .footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #C0C0C0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
}
.course-registration .footer {
  padding-left: 34px;
}
@media screen and (min-width: 992px) {
  .course-registration .footer {
    padding-left: calc(3.3707865169vw + 0.5617977528px);
  }
}
@media screen and (min-width: 1170px) {
  .course-registration .footer {
    padding-left: 40px;
  }
}
.course-registration .footer {
  padding-right: 119px;
}
@media screen and (min-width: 992px) {
  .course-registration .footer {
    padding-right: calc(11.797752809vw + 1.9662921348px);
  }
}
@media screen and (min-width: 1170px) {
  .course-registration .footer {
    padding-right: 140px;
  }
}
.course-registration .footer {
  bottom: 34px;
}
@media screen and (min-width: 992px) {
  .course-registration .footer {
    bottom: calc(3.3707865169vw + 0.5617977528px);
  }
}
@media screen and (min-width: 1170px) {
  .course-registration .footer {
    bottom: 40px;
  }
}/*# sourceMappingURL=course-registration.css.map */