.for-whom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  z-index: 1;
}
.for-whom {
  padding-top: 68px;
  padding-bottom: 68px;
}
@media screen and (min-width: 992px) {
  .for-whom {
    padding-top: calc(4.525862069vw + 23.1034482759px);
    padding-bottom: calc(4.525862069vw + 23.1034482759px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
.for-whom::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../images/for-whom/bg.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.for-whom h2 {
  color: #E0E0FF;
}
.for-whom h2 {
  width: 667px;
}
@media screen and (min-width: 992px) {
  .for-whom h2 {
    width: calc(46.1206896552vw + 209.4827586207px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom h2 {
    width: 1095px;
  }
}
.for-whom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.for-whom-content {
  gap: 51px;
}
@media screen and (min-width: 992px) {
  .for-whom-content {
    gap: calc(5.0646551724vw + 0.7586206897px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom-content {
    gap: 98px;
  }
}
.for-whom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.for-whom-item .counter {
  font-weight: bold;
  border-radius: 50%;
  background-color: #C5A23B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.for-whom-item .counter {
  width: 36px;
}
@media screen and (min-width: 992px) {
  .for-whom-item .counter {
    width: calc(3.7715517241vw - 1.4137931034px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom-item .counter {
    width: 71px;
  }
}
.for-whom-item .counter {
  height: 36px;
}
@media screen and (min-width: 992px) {
  .for-whom-item .counter {
    height: calc(3.7715517241vw - 1.4137931034px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom-item .counter {
    height: 71px;
  }
}
.for-whom-item .counter {
  font-size: 14px;
}
@media screen and (min-width: 992px) {
  .for-whom-item .counter {
    font-size: calc(1.2931034483vw + 1.1724137931px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom-item .counter {
    font-size: 26px;
  }
}
.for-whom .star-1 {
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}
.for-whom .star-1 {
  width: 22px;
}
@media screen and (min-width: 992px) {
  .for-whom .star-1 {
    width: calc(2.2629310345vw - 0.4482758621px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom .star-1 {
    width: 43px;
  }
}
.for-whom .star-1 {
  bottom: 113px;
}
@media screen and (min-width: 992px) {
  .for-whom .star-1 {
    bottom: calc(11.3146551724vw + 0.7586206897px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom .star-1 {
    bottom: 218px;
  }
}
.for-whom .star-1 {
  left: 53px;
}
@media screen and (min-width: 992px) {
  .for-whom .star-1 {
    left: calc(5.2801724138vw + 0.6206896552px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom .star-1 {
    left: 102px;
  }
}
.for-whom .star-2 {
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.for-whom .star-2 {
  width: 49px;
}
@media screen and (min-width: 992px) {
  .for-whom .star-2 {
    width: calc(4.9568965517vw - 0.1724137931px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom .star-2 {
    width: 95px;
  }
}
.for-whom .star-2 {
  top: 174px;
}
@media screen and (min-width: 992px) {
  .for-whom .star-2 {
    top: calc(17.4568965517vw + 0.8275862069px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom .star-2 {
    top: 336px;
  }
}
.for-whom .star-2 {
  right: 134px;
}
@media screen and (min-width: 992px) {
  .for-whom .star-2 {
    right: calc(13.4698275862vw + 0.3793103448px);
  }
}
@media screen and (min-width: 1920px) {
  .for-whom .star-2 {
    right: 259px;
  }
}/*# sourceMappingURL=for-whom.css.map */