@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #c5a23b;
  color: #fff;
}

::selection {
  background-color: #c5a23b;
  color: #fff;
}

html,
body {
  position: relative;
  height: 100%;
}

.site-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  will-change: transform;
}

body {
  line-height: 1.4;
  font-family: "PT Sans", sans-serif;
}
body {
  font-size: 14px;
}
@media screen and (min-width: 992px) {
  body {
    font-size: calc(1.1235955056vw + 2.8539325843px);
  }
}
@media screen and (min-width: 1170px) {
  body {
    font-size: 16px;
  }
}

[data-swiper-parallax-y] {
  will-change: transform;
}

h1,
h2,
h3 {
  color: #151554;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1;
}

h4 {
  color: #C5A23B;
  font-weight: bold;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
}

section {
  overflow-y: auto !important;
  background-color: #f8f8f8;
}
section h2 {
  line-height: 1;
}
section h2 {
  font-size: 85px;
}
@media screen and (min-width: 992px) {
  section h2 {
    font-size: calc(8.0818965517vw + 4.8275862069px);
  }
}
@media screen and (min-width: 1920px) {
  section h2 {
    font-size: 160px;
  }
}

.screen-block {
  min-height: 100%;
  height: auto;
  position: relative;
}
.screen-block {
  padding-right: 85px;
}
@media screen and (min-width: 992px) {
  .screen-block {
    padding-right: calc(8.4269662921vw + 1.404494382px);
  }
}
@media screen and (min-width: 1170px) {
  .screen-block {
    padding-right: 100px;
  }
}

.blue-gradient {
  background: linear-gradient(150deg, #282895 5.34%, #181869 114.76%);
  color: #E0E0FF;
}
.blue-gradient h2 {
  color: #E0E0FF;
}

.star {
  position: absolute;
}

.btn {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  background-color: #C5A23B;
  color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
}
.btn {
  padding-top: 22px;
  padding-bottom: 22px;
}
@media screen and (min-width: 992px) {
  .btn {
    padding-top: calc(2.2471910112vw - 0.2921348315px);
    padding-bottom: calc(2.2471910112vw - 0.2921348315px);
  }
}
@media screen and (min-width: 1170px) {
  .btn {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.btn {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (min-width: 992px) {
  .btn {
    padding-left: calc(5.0561797753vw - 0.1573033708px);
    padding-right: calc(5.0561797753vw - 0.1573033708px);
  }
}
@media screen and (min-width: 1170px) {
  .btn {
    padding-left: 59px;
    padding-right: 59px;
  }
}
.btn {
  font-size: 14px;
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: calc(2.2471910112vw - 8.2921348315px);
  }
}
@media screen and (min-width: 1170px) {
  .btn {
    font-size: 18px;
  }
}
.btn {
  border-radius: 99px;
}
@media screen and (min-width: 992px) {
  .btn {
    border-radius: calc(10.1123595506vw - 1.3146067416px);
  }
}
@media screen and (min-width: 1170px) {
  .btn {
    border-radius: 117px;
  }
}
.btn:hover {
  background-color: #cbab4f;
}

.header {
  display: none;
}

.text-center {
  text-align: center;
}

.calc {
  width: 200px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 1000;
  font-size: 16px;
  background-color: #fff;
}
.calc.hidden {
  display: none;
}
.calc .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}
.calc .row span:first-child {
  font-weight: bold;
}
.calc input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
}/*# sourceMappingURL=global.css.map */