.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__left {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__left {
  width: 368px;
}
@media screen and (min-width: 992px) {
  .hero__left {
    width: calc(37.0689655172vw + 0.275862069px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left {
    width: 712px;
  }
}
.hero__left {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 34px;
  padding-right: 34px;
}
@media screen and (min-width: 992px) {
  .hero__left {
    padding-top: calc(3.2327586207vw + 1.9310344828px);
    padding-bottom: calc(3.2327586207vw + 1.9310344828px);
    padding-left: calc(3.2327586207vw + 1.9310344828px);
    padding-right: calc(3.2327586207vw + 1.9310344828px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.hero__left::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../../public/images/hero/hero-bg.png);
  opacity: 0.1;
  z-index: -1;
  background-size: 100%;
  background-position: center;
}
.hero__left--content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}
.hero__left--content {
  margin-top: 79px;
}
@media screen and (min-width: 992px) {
  .hero__left--content {
    margin-top: calc(7.8651685393vw + 0.9775280899px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__left--content {
    margin-top: 93px;
  }
}
.hero__left--content {
  width: 242px;
}
@media screen and (min-width: 992px) {
  .hero__left--content {
    width: calc(24.4612068966vw - 0.6551724138px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left--content {
    width: 469px;
  }
}
.hero__left--content h4 {
  margin-bottom: 13px;
}
@media screen and (min-width: 992px) {
  .hero__left--content h4 {
    margin-bottom: calc(6.7415730337vw - 53.8764044944px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__left--content h4 {
    margin-bottom: 25px;
  }
}
.hero__left--descr {
  color: #6565e1;
}
.hero__left--descr {
  width: 167px;
}
@media screen and (min-width: 992px) {
  .hero__left--descr {
    width: calc(16.8103448276vw + 0.2413793103px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left--descr {
    width: 323px;
  }
}
.hero__left .star-1 {
  width: 22px;
}
@media screen and (min-width: 992px) {
  .hero__left .star-1 {
    width: calc(2.2629310345vw - 0.4482758621px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left .star-1 {
    width: 43px;
  }
}
.hero__left .star-1 {
  top: 68px;
}
@media screen and (min-width: 992px) {
  .hero__left .star-1 {
    top: calc(6.7887931034vw + 0.6551724138px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left .star-1 {
    top: 131px;
  }
}
.hero__left .star-1 {
  left: 254px;
}
@media screen and (min-width: 992px) {
  .hero__left .star-1 {
    left: calc(25.6465517241vw - 0.4137931034px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left .star-1 {
    left: 492px;
  }
}
.hero__left .star-2 {
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg);
}
.hero__left .star-2 {
  width: 34px;
}
@media screen and (min-width: 992px) {
  .hero__left .star-2 {
    width: calc(3.4482758621vw - 0.2068965517px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left .star-2 {
    width: 66px;
  }
}
.hero__left .star-2 {
  top: 260px;
}
@media screen and (min-width: 992px) {
  .hero__left .star-2 {
    top: calc(26.404494382vw - 1.9325842697px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__left .star-2 {
    top: 307px;
  }
}
.hero__left .star-2 {
  top: 307px;
}
@media screen and (min-width: 1171px) {
  .hero__left .star-2 {
    top: calc(9.7463284379vw + 192.870493992px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left .star-2 {
    top: 380px;
  }
}
.hero__left .star-2 {
  left: 178px;
}
@media screen and (min-width: 992px) {
  .hero__left .star-2 {
    left: calc(17.9956896552vw - 0.5172413793px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__left .star-2 {
    left: 345px;
  }
}
.hero__logo {
  width: 127px;
}
@media screen and (min-width: 992px) {
  .hero__logo {
    width: calc(12.8232758621vw - 0.2068965517px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__logo {
    width: 246px;
  }
}
.hero__authors p {
  color: #6565e1;
}
.hero__authors p {
  margin-bottom: 13px;
}
@media screen and (min-width: 992px) {
  .hero__authors p {
    margin-bottom: calc(1.2931034483vw + 0.1724137931px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__authors p {
    margin-bottom: 25px;
  }
}
.hero__authors--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__authors--row {
  gap: 4px;
}
@media screen and (min-width: 992px) {
  .hero__authors--row {
    gap: calc(0.4310344828vw - 0.275862069px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__authors--row {
    gap: 8px;
  }
}
.hero__authors--row img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100%;
}
.hero__authors--row img {
  width: 61px;
}
@media screen and (min-width: 992px) {
  .hero__authors--row img {
    width: calc(6.1422413793vw + 0.0689655172px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__authors--row img {
    width: 118px;
  }
}
.hero__authors--row img {
  height: 61px;
}
@media screen and (min-width: 992px) {
  .hero__authors--row img {
    height: calc(6.1422413793vw + 0.0689655172px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__authors--row img {
    height: 118px;
  }
}
.hero__book {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.hero__book {
  left: 131px;
}
@media screen and (min-width: 992px) {
  .hero__book {
    left: calc(13.4831460674vw - 2.7528089888px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__book {
    left: 155px;
  }
}
.hero__book {
  left: 155px;
}
@media screen and (min-width: 1171px) {
  .hero__book {
    left: calc(19.3591455274vw - 71.6955941255px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__book {
    left: 300px;
  }
}
.hero__book {
  width: 499px;
}
@media screen and (min-width: 992px) {
  .hero__book {
    width: calc(50vw + 3px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__book {
    width: 588px;
  }
}
.hero__book {
  width: 588px;
}
@media screen and (min-width: 1171px) {
  .hero__book {
    width: calc(50.3337783712vw - 1.4085447263px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__book {
    width: 965px;
  }
}
.hero__book img {
  width: 100%;
}
.hero__right {
  position: relative;
  height: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__right {
  padding-top: 47px;
}
@media screen and (min-width: 992px) {
  .hero__right {
    padding-top: calc(5.0561797753vw - 3.1573033708px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__right {
    padding-top: 56px;
  }
}
.hero__right {
  padding-bottom: 34px;
}
@media screen and (min-width: 992px) {
  .hero__right {
    padding-bottom: calc(3.4482758621vw - 0.2068965517px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right {
    padding-bottom: 66px;
  }
}
.hero__right h2 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.hero__right h2 {
  padding-left: 54px;
}
@media screen and (min-width: 992px) {
  .hero__right h2 {
    padding-left: calc(5.4956896552vw - 0.5172413793px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right h2 {
    padding-left: 105px;
  }
}
.hero__right .star {
  width: 22px;
}
@media screen and (min-width: 992px) {
  .hero__right .star {
    width: calc(2.2629310345vw - 0.4482758621px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right .star {
    width: 43px;
  }
}
.hero__right .star {
  top: 142px;
}
@media screen and (min-width: 992px) {
  .hero__right .star {
    top: calc(14.224137931vw + 0.8965517241px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right .star {
    top: 274px;
  }
}
.hero__right .star {
  right: 51px;
}
@media screen and (min-width: 992px) {
  .hero__right .star {
    right: calc(5.0646551724vw + 0.7586206897px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right .star {
    right: 98px;
  }
}
.hero__right--content {
  color: #3c3c3c;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__right--content {
  padding-top: 58px;
}
@media screen and (min-width: 992px) {
  .hero__right--content {
    padding-top: calc(5.6179775281vw + 2.2696629213px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__right--content {
    padding-top: 68px;
  }
}
.hero__right--content {
  padding-left: 215px;
}
@media screen and (min-width: 992px) {
  .hero__right--content {
    padding-left: calc(21.5517241379vw + 1.2068965517px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right--content {
    padding-left: 415px;
  }
}
.hero__right--content p {
  color: #8c8c8c;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hero__right--content p {
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .hero__right--content p {
    font-size: calc(1.6853932584vw - 1.7191011236px);
  }
}
@media screen and (min-width: 1170px) {
  .hero__right--content p {
    font-size: 18px;
  }
}
.hero__right--content p {
  width: 261px;
}
@media screen and (min-width: 992px) {
  .hero__right--content p {
    width: calc(26.2931034483vw + 0.1724137931px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right--content p {
    width: 505px;
  }
}
.hero__right--content p {
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .hero__right--content p {
    margin-bottom: calc(2.5862068966vw - 0.6551724138px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right--content p {
    margin-bottom: 49px;
  }
}
.hero__right--content ul {
  margin-bottom: 15px;
}
.hero__right--content ul {
  padding-left: 25px;
}
@media screen and (min-width: 992px) {
  .hero__right--content ul {
    padding-left: calc(1.6163793103vw + 8.9655172414px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right--content ul {
    padding-left: 40px;
  }
}
.hero__right--content ul li:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .hero__right--content ul li:not(:last-child) {
    margin-bottom: calc(1.6163793103vw - 1.0344827586px);
  }
}
@media screen and (min-width: 1920px) {
  .hero__right--content ul li:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero .btn {
  font-weight: normal;
}

.hero-book-mobile, .hero-content-mobile {
  display: none;
}/*# sourceMappingURL=hero.css.map */