.reviews {
  padding-top: 65px;
}
.reviews h2 {
  line-height: 0.85;
}
.reviews-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.reviews-top-row.mobile {
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30px;
}
.reviews-top-row.mobile .reviews-slider-btn {
  width: 45px;
  height: 45px;
  background-size: 20px;
  display: none;
}

.reviews-slider {
  margin-top: 50px;
}
.reviews-slider .swiper-slide {
  padding-top: 30px;
}

.reviews-slide-content {
  background-color: #fff;
  padding: 70px 40px 40px;
}
.reviews-slide-content .photo {
  position: absolute;
  left: 40px;
  top: 0;
  width: 80px;
  height: 80px;
  border: 10px solid #F8F8F8;
  overflow: hidden;
  border-radius: 100%;
}
.reviews-slide-content .photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.reviews-slide-content p {
  color: #727272;
}
.reviews-slide-content p:not(:last-child) {
  margin-bottom: 15px;
}

.reviews-slide-header, .reviews-slide-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.reviews-slide-header {
  margin-bottom: 15px;
}
.reviews-slide-header b {
  font-size: 18px;
}
.reviews-slide-header .city {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border-radius: 52px;
  color: #858585;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.reviews-slide-header .job {
  font-size: 14px;
  font-weight: bold;
  color: #C5A23B;
}

.swiper-slide-next ~ .swiper-slide::before {
  opacity: 1;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

.reviews-slider-btn {
  width: 76px;
  height: 76px;
  border-radius: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url(../../../../images/human-development-course/icons/slider-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.reviews-slider-btn.reviews-slider-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-counter {
  background-color: #f3f3f3;
  font-size: 18px;
  padding: 13px 18px;
  border-radius: 50px;
  color: #C0C0C0;
  display: none;
}

@media (min-width: 320px) and (max-width: 499px) {
  .slider-counter {
    display: block;
  }
}